#back2Top {
    width: 50px;
    line-height: 50px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 120px;
    right: 5px;
    background-color: #CC0066;
    color: white;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    border-radius: 50%;
}
#back2Top:hover {
    background-color: #95003c;
    color: white;
}
